@use "@angular/material" as mat;

.task {
  display: flex;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__btn_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
