<mat-card class="task" [formGroup]="taskForm" appearance="outlined">
  <mat-card-header class="task__header">
    <app-task-control-buttons
      (taskControlButtonEvent)="onTaskControlButtonsEvent($event)"
      [mode]="mode"
    ></app-task-control-buttons>
  </mat-card-header>
  <mat-card-content>
    <app-form-input [mode]="mode" formControlName="title"></app-form-input>
    <div>
      <app-form-input
        [mode]="mode"
        formControlName="description"
      ></app-form-input>
    </div>
  </mat-card-content>
</mat-card>
