<mat-card class="task" [formGroup]="taskForm" appearance="outlined">
  <mat-card-header class="task__header">
    <app-form-input [mode]="mode" formControlName="title"></app-form-input>
  </mat-card-header>
  <mat-card-content>
    <app-form-input
      [mode]="mode"
      formControlName="description"
    ></app-form-input>

    @if (mode==viewModes.EDIT){
    <mat-checkbox formControlName="done">done</mat-checkbox>
    }

    <app-task-control-buttons
      [hideMoveToDaily]="hideMoveToDaily()"
      (taskControlButtonEvent)="onTaskControlButtonsEvent($event)"
      [mode]="mode"
    ></app-task-control-buttons>
  </mat-card-content>
</mat-card>
