@if (mode()===viewMode.VIEW) {
<mat-card
  class="new_task"
  appearance="outlined"
  (click)="onAddNewTaskClick()"
>
  <mat-card-content class="new_task__content">
    <mat-icon>add_circle</mat-icon>
    <div>Add new task</div>
  </mat-card-content>
</mat-card>

} @else if (mode()===viewMode.CREATE) {
<div class="create_task_container"></div>
<mat-card appearance="outlined">
  <mat-card-content [formGroup]="taskForm" class="create_task_container">
    <mat-form-field appearance="fill">
      <mat-label>title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <app-action-buttons
      (onAction)="onActionButonsEvent($event)"
      [acceptButtonDisabled]="acceptButtonDisabled"
    ></app-action-buttons>
  </mat-card-content>
</mat-card>

}
