.task_control_buttons_container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.danger_btn {
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
}
.error_btn {
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
}
