<mat-toolbar [formGroup]="listForm">
  <app-form-input [mode]="mode()" formControlName="title"></app-form-input>
  <span class="example-spacer"></span>

  @if (showCreateNewList() ){
  <button (click)="onAddNewListButton()" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>

  } @if(list()&& !list().isMain){ @if (mode()===formMode.VIEW) {

  <button
    (click)="onDeleteButtonClick()"
    mat-icon-button
    class="example-icon favorite-icon"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button (click)="onEditButtonClick()" mat-icon-button class="example-icon">
    <mat-icon>edit</mat-icon>
  </button>

  } @else if (mode() ===formMode.EDIT) {
  <app-action-buttons
    (onAction)="onActionButonsEvent($event)"
    [acceptButtonDisabled]="acceptButtonDisabled"
  ></app-action-buttons>

  } }
</mat-toolbar>
